.div1{
    /*min-height: 400px;*/
    min-width: 450px;
    /*background-color: rgba(44,38,38,0.7);*/
    background-color: rgba(79, 175, 152, 0.51);
    margin: 10px;
    border-radius: 40px;
    border: 3px ridge rgba(16, 16, 16, 0.48);
    /*border: 3px ridge rgba(71, 208, 167, 0.4);*/
}

.divMain{
    margin-top: 10px;
    display: flex;
    justify-content: space-between ;
    flex-direction: row;
    min-height: 400px;
}