.kz-logo{
    height: 40vh;
    pointer-events: none;
}

.kz-logo-active {

}

.div-kz-logo{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-kz-logo-active {
    background-color: blue;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.kz-wrapper {
    background-color: white;
    /*background-color: #2a2389;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.kz-wrapper-active{
    background-color: deeppink;

}

@media (prefers-reduced-motion: no-preference) {
    .kz-logo-active {
        animation: App-logo-spin infinite 800ms linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



@media (prefers-reduced-motion: no-preference) {
    .div-kz-logo-active {
        animation: Div-App-logo-spin infinite 2000ms linear;
    }
}


@keyframes Div-App-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


.kz{
    background: red;
    min-width: 100px;
    min-height: 100px;
}

.kz-active{
    background-color: green;
}

.kz-text{
    padding: 10px;
    border: 20px solid white;
    background-color: white;
    color: white;
    margin-top: 100px;
    margin-bottom: 0;
    font-style: italic;
    font-size: 50px;
}

.kz-text-active {
    padding: 10px;
    border: 20px solid darkgreen;
    background-color: #fdeb2d;
    color: blue;
    margin-top: 100px;
    margin-bottom: 0;
    font-style: italic;
    font-size: 3vw;
}