.App-logo {
    height: 35vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

.Div-app-logo {

}

@media (prefers-reduced-motion: no-preference) {
    .Div-app-logo {
        animation: Div-App-logo-spin infinite 10s linear;
    }
}


@keyframes Div-App-logo-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


.App-header {
    background-color: deeppink;
    /*background-color: #2a2389;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
